body {
	margin: 0;
	font-size: 10px;
}
#main {
	width: 100%;
	max-width: 1100px;
	height: 100%;
	max-height: 1100px;
}
#loctext{
	font-size: 20px;
}
#fs{
	font-size:25px;
}
#icon{
	margin-left: 0 auto;
	margin-right: 0 auto;
}
.title {
	font-size: 45px;
	color: #2333f5;
}
.card {
	max-width: 30%;
	margin: 40px auto;
	background-color: #fff;
	box-shadow: 0 10px 10px #ccc;
	border-radius: 15px;
	padding: 10px;
}
.text{
	font-size: 25px;

}
.logo{
	display: block;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}
.horizontal {
	width: 100%;
	height: 1px;
}
.line {
	position: middle;
	background-color: #000000;
	margin-right: auto;
	margin-left: auto;
}
.horizontal1 {
	width: 36.363636364%;
	height: 1px;
}

.flexible-image{
	width: 100%;
}

 /* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: grey;
}
/* mouse over link */
a:hover {
  color: darkblue;
}
/* selected link */
a:active {
  color: blue;
} 
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


@media only screen and (max-width: 700px){
	.card{
		width: 100%;
		height: 100%;
	}
	#main{
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		height: 100%;
		font-size: 70%;
	}
	#logo{
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		height: 100%;
	}
	#loctext{
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		height: 100%;
		font-size: 90%;
		font-style: normal;
	}
	#fs{
		margin-right: auto;
		margin-left: auto;
		font-size: 20px;
	}
	#icon{
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		height: 100%;
		font-size: 100%;
	}
}